.adoption-contract-modal {
	width: 300px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
}

.contract-upload-button {
	width: 100px;
	margin: 10px auto;
}
