.dog-info {
	height: 100%;
}

.dog-name-text {
	color: #f7567c;
	font-family: Candal, sans-serif;
	font-size: 3em;
	-webkit-text-stroke: 1px black;
}

.dog-info-text {
	text-align: left;
	line-height: 50px;
	margin: 20px;
}

.shot-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.grid-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.indicator-no {
	color: #872f44;
}

.indicator-yes {
	color: #306b34;
}

.info-img {
	width: 100%;
	object-fit: cover;
	border: 2px solid black;
}

.info-title {
	color: #5d576b;
	margin: 5px;
}

.box-flex,
.shot-check-container {
	display: flex;
	flex-direction: column;
}

.dog-img {
	margin: 20px;
}

.box-flex {
	background-color: #fcfcfc;
	margin: 20px;
	border: 2px solid;
}

@media (min-width: 800px) {
	.grid-container {
		background-clip: content-box;
		padding: 50px;
		display: grid;
		grid-template-columns: 1fr 1.1fr;
		grid-template-rows: 0.4fr 0.1fr;
		grid-template-areas: 'dog-name dog-img' 'shots-information basic-dog-details';
	}

	.basic-dog-details {
		grid-area: basic-dog-details;
	}

	.dog-img {
		grid-area: dog-img;
		height: 300px;
	}

	.shots-information {
		grid-area: shots-information;
	}

	.shot-check-container {
		display: flex;
		justify-content: space-evenly;
	}
}

@media (min-width: 1200px) {
	.shot-container {
		height: 200px;
	}

	.dog-info-text {
		font-size: 0.8em;
	}
}
