.dog-img-container {
	width: 100%;
	height: 200px;
	box-shadow: 10px 10px #5d576b;
	border: 2px solid black;
}

.dog-img-container:active {
	box-shadow: none;
}

.dog-item {
	margin: 20px;
}

.add-a-dog-button {
	background-color: #009fb7;
	border: 2px solid black;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	font-size: 1em;
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 40px;
}

.add-dog-link:hover {
	color: white;
	font-weight: bolder;
}

.add-a-dog-button:hover {
	cursor: pointer;
}

.add-a-dog-button a {
	color: white;
}

.dog-list-container {
	padding-top: 40px;
}

.dogs-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list-container {
	padding-top: 30px;
}

.dog-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 80vh;
}

.dogs-list-name {
	color: #fcfcfc;
	background-color: #011627;
	font-size: 24px;
	font-weight: bolder;
	height: 40px;
	line-height: 40px;
	position: relative;
	top: -71px;
}

.search-dog {
	height: 30px;
	display: block;
	margin: 0px auto 0px auto;
	width: 60vw;
	border: 1px solid black;
	padding-left: 5px;
	font-size: 0.8em;
}

.filter-links {
	display: inline-block;
}

.filter-links li {
	display: inline-block;
	list-style: none;
	margin: 10px;
}

@media (min-width: 500px) {
	.search-dog {
		width: 30vw;
		height: 40px;
	}
}
