.add-shot-name,
.shot-date-button {
	border: 2px solid black;
	box-shadow: 5px 5px gray;
	font-size: 0.8em;
	font-weight: bold;
	height: 40px;
	margin: 20px 0px 10px 0px;
	width: 100%;
}

.add-shot-name {
	width: 40%;
}

.add-shot-name:active {
	box-shadow: none;
}

.sht-btn-box {
	display: flex;
	justify-content: space-evenly;
}

.new-shot-box {
	margin-top: 20px;
}

.edit-shot-line {
	display: block;
	margin: 20px;
}

.edit-shot-date {
	padding-left: 10px;
}

.edit-shot-date-input {
	font-size: 0.8em;
	height: 40px;
	padding-left: 15px;
	width: 100%;
}

.shot-date-text {
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
	display: block;
}

@media (min-width: 800px) {
	.update-shot-date-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (min-width: 1000px) {
	.edit-shot-line {
		flex-wrap: wrap;
	}
}

@media (min-width: 1300px) {
	.update-shot-date-box {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: start;
	}
}
