.notes-list-container {
	display: flex;
	flex-direction: column;
}

.medical-container,
.additional-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px;
}

.note-author {
	color: #f7567c;
	font-weight: bold;
}

.note-by-container {
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 800px) {
	.medical-container,
	.additional-container {
		width: 50%;
	}

	.notes-list-container {
		flex-direction: row;
	}

	.note-by-container {
		width: 40vw;
	}
}
